In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from fancyimpute import KNN    
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import uniform
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import confusion_matrix, classification_report, auc, roc_curve, precision_recall_curve, average_precision_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import roc_curve, precision_recall_curve, auc, make_scorer, recall_score, accuracy_score, precision_score, confusion_matrix

Using TensorFlow backend.

In [2]:
%matplotlib inline

In [3]:
weekly = pd.read_csv(filepath_or_buffer='Courier_weekly_data.csv')

In [4]:
weekly.head(20)

,courier,week,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17
0,3767,2,6,34,38,0.0789,0.9211,140.4737,0.1316,2162.4737,0.7632,7.340776,8,20.208158,5.236316,0.8158,43.384804,1,19
1,3767,4,-1,42,37,0.0000,1.0000,135.5946,0.0811,2097.4054,0.9459,11.883784,19,18.855405,5.689459,0.8919,35.078042,3,11
2,3767,5,24,41,43,0.0233,0.9767,131.0930,0.0233,2043.8837,0.9302,7.072100,16,18.925116,5.138605,0.9302,31.455285,1,10
3,3767,6,-22,65,66,0.0606,0.9394,120.1515,0.0000,2124.2727,0.7727,7.356567,33,18.259697,4.704394,0.7879,34.252991,1,30
4,6282,2,9,33,27,0.0741,0.9259,100.0000,0.0370,4075.7407,0.8889,8.501233,5,26.863704,4.828519,0.8889,46.478114,1,4
5,6282,3,-20,42,56,0.0536,0.9464,113.4821,0.0357,4777.0714,0.9107,8.210125,16,23.651786,5.553571,0.9107,79.407407,2,5
6,6282,4,9,22,32,0.1250,0.8750,105.0000,0.0938,5744.1875,0.8125,8.285422,12,18.180937,5.834375,0.7813,87.250000,1,2
7,6282,5,21,31,48,0.0417,0.9583,117.2500,0.0833,4011.7708,0.9167,9.768052,17,20.346667,5.615417,0.9167,85.083333,2,9
8,6282,6,-12,52,72,0.0694,0.9306,107.6389,0.0417,4000.3333,0.8472,7.736114,17,21.941111,5.093056,0.8750,73.904915,1,13
9,6282,7,1,40,56,0.0893,0.9107,124.3750,0.0893,3192.0000,0.9107,7.405355,11,18.591071,5.353214,0.9107,65.618750,2,4
10,6282,9,5,34,40,0.0250,0.9750,100.0000,0.0000,4124.5250,0.9250,7.535005,10,21.523250,4.685000,0.9250,67.201797,2,3
11,6282,10,1,39,47,0.0638,0.9362,103.8298,0.0638,4378.7021,0.9149,6.772336,10,19.023404,5.033191,0.8936,61.633191,1,6
12,6282,11,10,40,41,0.0000,1.0000,100.0000,0.0488,4432.4146,0.9756,8.825612,12,18.789024,4.694878,0.9512,60.953472,3,9
13,10622,0,5,82,45,0.1111,0.8889,100.0000,0.0889,2476.2889,0.5333,10.693702,19,24.368889,4.148000,0.6222,29.115176,3,18
14,10622,1,-12,87,63,0.1270,0.8730,100.3175,0.0635,2677.4921,0.7143,9.706087,22,18.767143,4.211746,0.6984,42.177203,2,13
15,13096,5,-10,64,95,0.1684,0.8316,108.1158,0.0737,4656.7053,0.7053,10.152813,40,17.065895,5.373368,0.7263,83.052951,2,25
16,13096,6,10,54,84,0.1548,0.8452,100.4762,0.0119,4523.8452,0.6667,9.108531,29,18.738929,4.960000,0.7143,85.643004,4,13
17,13096,8,1,53,74,0.0541,0.9459,106.3108,0.0270,3612.4730,0.8784,9.488968,23,22.553108,4.997838,0.8514,73.030398,5,12
18,13096,9,26,54,80,0.0750,0.9250,105.2250,0.0250,3866.3375,0.8750,9.412291,24,20.007375,5.083250,0.8625,76.819444,2,12
19,13096,10,21,80,71,0.0282,0.9718,111.4930,0.0704,4339.7887,0.8873,9.108214,40,20.889014,5.196901,0.8732,47.096181,1,9

In [5]:
weekly[(weekly.week==11) | (weekly.week==10) | (weekly.week==9)]['courier'].drop_duplicates().count()

387

In [7]:
weeks=weekly.copy()

In [8]:
def week_label(row):
    courier_set=weekly[(weekly.courier==row['courier']) & ((weekly.week==9) | (weekly.week==10) |(weekly.week==11))]
    if courier_set['courier'].count() == 0:
        label=1
    else: 
        label=0
    return label

In [10]:
weeks['label']=weeks.apply(week_label, axis=1)

In [11]:
weeks=weeks[(weeks.week<8)]

In [12]:
weeks.head()

,courier,week,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,label
0,3767,2,6,34,38,0.0789,0.9211,140.4737,0.1316,2162.4737,0.7632,7.340776,8,20.208158,5.236316,0.8158,43.384804,1,19,1
1,3767,4,-1,42,37,0.0000,1.0000,135.5946,0.0811,2097.4054,0.9459,11.883784,19,18.855405,5.689459,0.8919,35.078042,3,11,1
2,3767,5,24,41,43,0.0233,0.9767,131.0930,0.0233,2043.8837,0.9302,7.072100,16,18.925116,5.138605,0.9302,31.455285,1,10,1
3,3767,6,-22,65,66,0.0606,0.9394,120.1515,0.0000,2124.2727,0.7727,7.356567,33,18.259697,4.704394,0.7879,34.252991,1,30,1
4,6282,2,9,33,27,0.0741,0.9259,100.0000,0.0370,4075.7407,0.8889,8.501233,5,26.863704,4.828519,0.8889,46.478114,1,4,0

In [13]:
def max_consecutive(vector):
    longest = 0
    current = 0
    for num in vector:
        if num == 1:
            current += 1
        else:
            longest = max(longest, current)
            current = 0

    return max(longest, current)

In [14]:
def max_streak(series):
    week_vector=[0,0,0,0,0,0,0,0]
    week_list=series.tolist()
    for i in week_list:
        week_vector[i]=1
    streak=max_consecutive(week_vector)
    return streak

In [ ]:
gold=weeks.groupby(['courier'], as_index=False, )